@{
    Layout = "_Layout";
}
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Models.ViewModels
@using static GSCrm.CommonConsts
@inject ResManager resManager
@inject IViewsInfo viewsInfo
@model AccountsViewModel
@{
    ViewInfo currentAccountsView = viewsInfo.Get(CURRENT_ACCS);
    ViewInfo allAccountsView = viewsInfo.Get(ALL_ACCS);
    IEnumerable<AccountViewModel> accounts = Model.AllAccounts;
}
@* // Хлебные крошки *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@resManager.GetString("Home")</a></li>
        <li class="breadcrumb-item active" aria-current="page">@resManager.GetString(ACCOUNTS)</li>
    </ol>
</nav>

<div id="accountsForm" class="container mt-3">
    <div class="form-shadow d-none"></div>

    @* // Модальное окно создания организации *@
    @{ await Html.RenderPartialAsync($"{ACC_VIEWS_REL_PATH}Partial/AccountModal.cshtml"); }

    <div class="row nav-connected-tabs justify-content-end" nav-tabs="accountTabs">
        <div class="fade show nav-connected-tab" nav-tab="#currentAccounts">
            <input type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#accountModal" value="@resManager.GetString("CreateAccount")" />
        </div>
        <div class="fade nav-connected-tab" nav-tab="#allAccounts"></div>
    </div>

    @* // Вкладки *@
    <ul id="accountTabs" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="currentAccountsTab" data-toggle="tab" href="#currentAccounts" role="tab" aria-controls="currentAccounts" aria-selected="false">@Model.PrimaryOrganizationName</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="allAccountsTab" data-toggle="tab" href="#allAccounts" role="tab" aria-controls="allAccounts" aria-selected="false">@resManager.GetString("AllOrganizations")</a>
        </li>
    </ul>

    <div class="tab-content">
        @* // Контакты *@
        @{ await Html.RenderPartialAsync($"{ACC_VIEWS_REL_PATH}CurrentAccounts.cshtml"); }

        @* // Должности *@
        @{ await Html.RenderPartialAsync($"{ACC_VIEWS_REL_PATH}AllAccounts.cshtml"); }
    </div>
</div>