@inject ResManager resManager
@using static GSCrm.CommonConsts
@model AccountViewModel

@* // Модальное окно управления командой по клиенту *@
<div id="accTeamManagementModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <input id="organizationId" asp-for="OrganizationId" hidden="hidden" />
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="@ACC_MANAGER" asp-action="Synchronize">
                <div class="modal-header">
                    <h5 class="modal-title">@resManager.GetString("AccountTeamManagement")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="teamAllEmployees">
                        <div class="row justify-content-center p-2">
                            <div class="row justify-content-start">
                                <ul id="primaryManagerError" class="d-none"></ul>
                            </div>
                            <div class="row justify-content-center">
                                <p class="label-md m-0 text-center">@resManager.GetString("AllManagersExceptSelected")</p>
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-around form-group mb-0 mt-1">
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchAllManagersName" class="form-control" placeholder="@resManager.GetString("PersonName")" />
                                    </div>
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchAllManagersDivision" class="form-control" placeholder="@resManager.GetString("Division")" />
                                    </div>
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchAllManagersPosition" class="form-control" placeholder="@resManager.GetString("Position")" />
                                    </div>
                                    <div class="col-auto mb-3 mb-sm-0 text-center flex-grow-0">
                                        <input id="allEmployeesSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("ApplyFilter")"
                                               data-href="@Url.Action("SearchAllManagers", ACC_MANAGER)" />
                                    </div>
                                    <div class="col-auto text-center flex-grow-0">
                                        <input id="clearAllEmployeesSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("Clear")"
                                               data-href="@Url.Action("ClearAllManagersSearch", ACC_MANAGER, new { accountId = Model.Id })" />
                                    </div>
                                </div>
                            </div>
                            <div id="allEmployeesList" class="table-wrapper mt-3">
                                <table class="fl-table">
                                    <thead>
                                        <tr>
                                            <th>@resManager.GetString("PersonName")</th>
                                            <th>@resManager.GetString("Division")</th>
                                            <th>@resManager.GetString("Position")</th>
                                            <th class="action-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div id="allEmployeesNav" class="list-nav row no-gutters justify-content-center mt-3">
                                <div class="col">
                                    <div class="nav-previous">
                                        <div class="nav-url" data-href="@Url.Action("PreviousAllRecords", ACC_MANAGER, new { accountId = Model.Id })">
                                            <span class="icon-chevron-thin-left"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="nav-next">
                                        <div class="nav-url" data-href="@Url.Action("NextAllRecords", ACC_MANAGER, new { accountId = Model.Id })">
                                            <span class="icon-chevron-thin-right"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="teamSelectedEmployees" class="mt-3">
                        <div class="row justify-content-center">
                            <p class="label-md m-0 text-center">@resManager.GetString("SelectedManagers")</p>
                        </div>
                        <div class="row p-2">
                            <div class="card-body">
                                <div class="row justify-content-around form-group mb-0 mt-1">
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchSelectedManagersName" class="form-control" placeholder="@resManager.GetString("PersonName")" />
                                    </div>
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchSelectedManagersPosition" class="form-control" placeholder="@resManager.GetString("Position")" />
                                    </div>
                                    <div class="col-lg mb-4 mb-lg-0">
                                        <input asp-for="SearchSelectedManagersPhone" class="form-control" placeholder="@resManager.GetString("PhoneNumber")" />
                                    </div>
                                    <div class="col-auto mb-3 mb-sm-0 text-center flex-grow-0">
                                        <input id="selectedEmployeesSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("ApplyFilter")"
                                               data-href="@Url.Action("SearchSelectedManagers", ACC_MANAGER)" />
                                    </div>
                                    <div class="col-auto text-center flex-grow-0">
                                        <input id="clearSelectedEmployeesSearch" type="button" class="btn btn-outline-primary" value="@resManager.GetString("Clear")"
                                               data-href="@Url.Action("ClearSelectedManagersSearch", ACC_MANAGER, new { accountId = Model.Id })" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="selectedEmployeesList">
                            <div class="list-card"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row justify-content-between m-0">
                        <div class="col">
                            <input id="syncAccTeamBtn" type="button" class="btn btn-outline-primary" value="@resManager.GetString("Synchronize")"
                                   data-href="@Url.Action("Synchronize", ACC_MANAGER)" />
                        </div>
                        <div class="col text-right">
                            <input id="cancelSyncAccTeamBtn" type="button" class="btn btn-secondary" data-dismiss="modal" value="@resManager.GetString("CancelLabel")" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>