@using static GSCrm.CommonConsts
@inject ResManager resManager
@model AccountsViewModel

<div id="currentAccountsFilter">
    <div class="accordion" id="currentAccountsAccordin">
        <div class="card">
            <div class="card-header" id="headingCurrentAccounts">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseCurrentAccounts" aria-expanded="true" aria-controls="collapseCurrentAccounts">
                        @resManager.GetString("CurrentAccountsFilter") @Model.PrimaryOrganizationName
                    </button>
                </h5>
            </div>

            <div id="collapseCurrentAccounts" class="collapse" aria-labelledby="headingCurrentAccounts" data-parent="#currentAccountsAccordin">
                <form class="card-body" method="post" asp-controller="@ACCOUNT" asp-action="SearchCurrentAccounts">
                    <input asp-for="Id" hidden="hidden" />
                    <div class="row justify-content-around form-group mb-lg-4">
                        <div class="col-xl mb-4 mb-xl-0">
                            <input asp-for="CurrentAccountsSearchName" class="form-control" type="text" placeholder="@resManager.GetString("NameLabel")" />
                        </div>
                        <div class="col-auto dropdown-area">
                            <input asp-for="CurrentAccountsSearchType" class="current-dropdown-value" hidden="hidden" />
                            <span class="dropdown-el">
                                <input type="radio" name="currentAccountType" value="Individual" checked="checked" id="searchCurrentAccountTypeIndividual">
                                <label for="searchCurrentAccountTypeIndividual">@resManager.GetString("Individual")</label>
                                <input type="radio" name="currentAccountType" value="IndividualEntrepreneur" id="searchCurrentAccountTypeIE">
                                <label for="searchCurrentAccountTypeIE">@resManager.GetString("IE")</label>
                                <input type="radio" name="currentAccountType" value="LegalEntity" id="searchCurrentAccountTypeLE">
                                <label for="searchCurrentAccountTypeLE">@resManager.GetString("LE")</label>
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-around form-group m-0">
                        <div class="col-auto mb-4 mb-sm-0 text-center flex-grow-0">
                            <input type="submit" class="btn btn-outline-primary" value="@resManager.GetString("ApplyFilter")" />
                        </div>
                        <div class="col-auto text-center flex-grow-0">
                            <a asp-controller="@ACCOUNT" asp-action="ClearCurrentAccountsSearch" type="button" class="btn btn-outline-primary">@resManager.GetString("Clear")</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>