@{
    Layout = "_Layout";
}
@using static GSCrm.CommonConsts
@using GSCrm.Data.ApplicationInfo
@inject ResManager resManager
@model EmployeeViewModel
@inject IViewsInfo viewsInfo
@{
    ViewInfo orgView = viewsInfo.Get(ORGANIZATIONS);
}

@* // Модальное окно изменения подразделения *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmpContactUpdateModal.cshtml"); }

@* // Модальное окно управления должностями *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeePosisionModal.cshtml"); }

@* // Модальное окно создания контакта сотрудника *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmpContactCreateModal.cshtml"); }

@* // Модальное окно изменения подразделения сотрудника *@
@{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/ChangeDivisionModal.cshtml"); }

@* // Хлебные крошки *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb one-line-crumbs">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@resManager.GetString("Home")</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="@ORGANIZATION" asp-action="@ORGANIZATIONS" asp-route-pageNumber="@orgView.CurrentPageNumber">
               @resManager.GetString(ORGANIZATIONS)
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="@ORGANIZATION" asp-action="BackToOrganization" asp-route-orgId="@Model.OrganizationId">
                @resManager.GetString(ORGANIZATION): @Model.OrganizationName
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@resManager.GetString(EMPLOYEE): @Model.FullInitialName</li>
    </ol>
</nav>

@* // Карточка сотрудника *@
<div class="container mt-3">
    <div id="employeeForm">
        <div class="mt-2 text-center">
            <h3>@Model.FullInitialName</h3>
        </div>
        @if (Model.EmployeeStatus != EmployeeStatus.Lock.ToString())
        {
            <form class="mt-2" asp-controller="@EMPLOYEE" asp-action="Update">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <input id="employeeId" asp-for="Id" hidden="hidden" />
                    <input asp-for="OrganizationId" hidden="hidden" />
                    <div class="row">
                        <div class="col-md flex-grow-1">
                            <div class="mb-3">
                                <input class="form-control" asp-for="LastName" placeholder="@resManager.GetString("LastNameLabel")" />
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" asp-for="FirstName" placeholder="@resManager.GetString("FirstNameLabel")" />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" asp-for="MiddleName" placeholder="@resManager.GetString("MidNameLabel")" />
                                <span asp-validation-for="MiddleName"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@resManager.GetString("Supervisor")</span>
                                </div>
                                <div class="form-control form-control-url wide-form-control">
                                    <a href="@Url.Content($"~/{EMPLOYEE}/{Model.SupervisorId}/")">@Model.SupervisorInitialName</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md flex-grow-0">
                            <div class="row justify-content-center">
                                <div class="col-sm mb-3 text-center">
                                    <input id="updateEmpBtn" type="submit" class="btn btn-outline-primary" value="@resManager.GetString("SaveChanges")" />
                                </div>
                                <div class="col-sm mb-3 text-center">
                                    <a id="cancelUpdateEmpBtn" class="btn btn-outline-danger" href="@Url.Content($"~/{EMPLOYEE}/{Model.Id}/")">@resManager.GetString("CancelChanges")</a>
                                </div>
                                <div class="col-sm text-center">
                                    <input id="openChangeDivisionModal" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#changeEmployeeDivisionModal" value="@resManager.GetString("ChangeDivision")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col nav-connected-tabs text-center text-md-left mb-3 mb-md-0" nav-tabs="empTabs">
                <div class="fade show nav-connected-tab" nav-tab="#positions">
                    <input id="initializePositionsBtn" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#employeePosisionModal" value="@resManager.GetString("PositionsManagement")" />
                    <a id="initializePositionsUrl" asp-controller="@EMP_POSITION" asp-action="" hidden="hidden"></a>
                </div>
                <div class="fade nav-connected-tab" nav-tab="#contacts">
                    <input type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#empContactCreateModal" value="@resManager.GetString("CreateEmployeeContact")" />
                </div>
            </div>

            @* // Вкладки *@
            <ul id="empTabs" class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="position-tab" data-toggle="tab" href="#positions" role="tab" aria-controls="positions" aria-selected="false">@resManager.GetString(POSITIONS)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">@resManager.GetString(CONTACTS)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="subordinates-tab" data-toggle="tab" href="#subordinates" role="tab" aria-controls="subordinates" aria-selected="false">@resManager.GetString("Subordinates")</a>
                </li>
            </ul>
            <div class="tab-content">
                @* // Должности *@
                @{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeePositionsList.cshtml"); }

                @* // Контакты *@
                @{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeContactsList.cshtml"); }

                @* // Подчиненные *@
                @{ await Html.RenderPartialAsync($"{EMP_VIEWS_REL_PATH}Partial/EmployeeSubordinatesList.cshtml"); }
            </div>
        }
        else
        {
            <div class="mt-2 text-center">
                <p class="label-md">@resManager.GetString("EmployeeIsLock")</p>
            </div>
            <form id="lockEmployeeForm" class="mt-2" asp-controller="@EMPLOYEE" asp-action="Unlock">
                <input id="employeeId" asp-for="Id" hidden="hidden" />
                <input asp-for="OrganizationId" hidden="hidden" />
                <div class="row">
                    <div class="col">
                        <div class="mt-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend m-auto">
                                    <span class="input-group-text" id="basic-addon1">@resManager.GetString(DIVISION)</span>
                                </div>
                                <div id="employeeDiv" class="autocomplete default-autocomplete flex-grow-1">
                                    <a class="autocomplete-link" hidden="hidden" href="@Url.Content($"/{DIVISION}/GetDivisions/{Model.OrganizationId}/")"></a>
                                    <input asp-for="DivisionName" class="autocomplete-input form-control" placeholder="@resManager.GetString(DIVISION)" />
                                    <ul class="autocomplete-result-list"></ul>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="DivisionName"></span>
                    </div>

                    <div class="col">
                        <div class="mt-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend m-auto">
                                    <span class="input-group-text" id="basic-addon1">@resManager.GetString(POSITION)</span>
                                </div>
                                <div id="employeePosition" class="autocomplete default-autocomplete flex-grow-1" data-autocomplite-type="Positions" data-autocomplite-name="EmployeePosition">
                                    <a class="autocomplete-link" hidden="hidden" href="@Url.Content($"/{POSITION}/GetPositions/{Model.OrganizationId}/")"></a>
                                    <input asp-for="PrimaryPositionName" class="autocomplete-input form-control" placeholder="@resManager.GetString(POSITION)" />
                                    <ul class="autocomplete-result-list"></ul>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="PrimaryPositionName"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-left">
                        <input id="unlockEmpBtn" type="submit" class="btn btn-primary" value="@resManager.GetString("Unlock")" />
                    </div>
                    <div class="col text-right">
                        <input id="cancelUnlockEmpBtn" type="button" class="btn btn-secondary" data-dismiss="modal" value="@resManager.GetString("CancelLabel")" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>