@using static GSCrm.CommonConsts
@inject ResManager resManager
@model OrganizationViewModel

<div id="positionsFilter">
    <div class="accordion" id="positionsAccordin">
        <div class="card">
            <div class="card-header" id="headingPositions">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePositions" aria-expanded="true" aria-controls="collapsePositions">
                        @resManager.GetString("PositionsFilter")
                    </button>
                </h5>
            </div>

            <div id="collapsePositions" class="collapse" aria-labelledby="headingPositions" data-parent="#positionsAccordin">
                <form class="card-body" method="post" asp-controller="@ORGANIZATION" asp-action="SearchPosition">
                    <input asp-for="Id" hidden="hidden" />
                    <div class="row justify-content-around form-group mb-lg-4">
                        <div class="col-xl mb-4 mb-xl-0">
                            <input asp-for="SearchPosName" class="form-control" type="text" placeholder="@resManager.GetString("NameLabel")" />
                        </div>
                        <div class="col-xl mb-4 mb-xl-0">
                            <input asp-for="SeacrhPositionDivName" class="form-control" type="text" placeholder="@resManager.GetString("Division")" />
                        </div>
                        <div class="col-xl mb-4 mb-xl-0">
                            <input asp-for="SearchPrimaryEmployeeName" class="form-control" type="text" placeholder="@resManager.GetString("PrimaryEmployeeLabel")" />
                        </div>
                        <div class="col-xl mb-2 mb-xl-0">
                            <input asp-for="SearchParentPosName" class="form-control" type="text" placeholder="@resManager.GetString("ParentPositionLabel")" />
                        </div>
                    </div>
                    <div class="row justify-content-around form-group m-0">
                        <div class="col-auto mb-4 mb-sm-0 text-center flex-grow-0">
                            <input type="submit" class="btn btn-outline-primary" value="@resManager.GetString("ApplyFilter")" />
                        </div>
                        <div class="col-auto text-center flex-grow-0">
                            <a asp-controller="@ORGANIZATION" asp-action="ClearPositionSearch" id="clearPosSearch" type="button" class="btn btn-outline-primary">@resManager.GetString("Clear")</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>